body{
    max-width: 100%;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
sup{
    font-size: 0.55em;
}
h1{
    text-align: center;
    font-size: 28px;
}
h2{
    display: inline-block;
    margin-top: 0;
}
hr{
    border: 1px solid #e4e4ec;
    border-top: none;
    border-left: none;
    border-right: none;
}
.nav-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.wrapper-fon{
    position: relative;
    margin: 0 auto;
    max-width: 1150px;
    padding: 0 15px 0 40px;
}
.wrapper{
    padding: 30px 0 30px 0;
    position: relative;
    margin: 0 auto;
    max-width: 1100px;
}
.wrapper-cop{
    margin: 0 auto;
    max-width: 1150px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -14px;
    font-size: 0;
    text-align: center;
}
.column{
    display: inline-block;
    margin: 15px 14px;
    vertical-align: middle;
    width: 219px;
    font-size: 14px;
    text-align: left;
    box-sizing: border-box;
}
.start{
    padding-left: 20px;
}
.nav{
    display: inline-block;
    position: relative;
}
.logotipe,
.logotipe-bottom{
    max-width: 90px;
    display: inline-block;
}
.logotipe img,
.logotipe-bottom img{
    max-width: 100%;
}
.logo{
    vertical-align: middle;
    margin-right: 70px;
}
.header-top{
    background-color: #ffe0b2;
}
.header-top ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation{
    padding-top: 15px;
    float: left;
}

.navigation li{
    display: inline-block;
    margin-right: 14px;
}
.navigation a{
    text-decoration: none;
    letter-spacing: 2px;
    color: #000;
    font: bold 16px/1.7em "Arial";
}
.navigation a:hover{
    color: #0a5bd5;
}
.phone,
.phone-bottom{
    float: right;
}
.phone{
    padding-top: 38px;
}
.phone li,
.phone-bottom li{
    margin: 0;
}
.phone a,
.phone-bottom a{
    text-decoration: none;
    color: #000;
    font: 16px/1.7em "Arial";
}
.phone a:hover,
.phon:hover,
.phone-bottom:hover,
.phone-bottom a:hover{
    color: #0a5bd5;
}
.center-img{
    padding: 15px 0 25px;
    text-align: center;
}
.phone,
.mail,
.row,
.phone-bottom{
    position: relative;
}
.url,
.viber,
.tg{
    text-decoration: none;
    color: #000;
}
.tel::before{
    position: absolute;
    left: -28px;
    top: 40px;
    content: url(../img/telefone.png);
}
.tel-bottom::before{
    position: absolute;
    left: -28px;
    top: 2px;
    content: url(../img/telefone.png);
}
.url:hover,
.viber:hover,
.tg:hover{
    text-decoration: underline;
}
.url::before{
    position: absolute;
    left: -30px;
    top: 1px;
    content: url(../img/url.png);
}
.viber::before{
    position: absolute;
    size: 1px;
    left: -30px;
    top: 32px;
    content: url(../img/viber3.png);
}
.tg::before{
    position: absolute;
    size: 1px;
    left: -30px;
    top: 63px;
    content: url(../img/telegram.png);
}
.main-top h2{
    padding-top: 20px;
}
.main-center a{
    text-decoration: none;
}
.main-center h3{
    display: inline-block;
}
.detal-inf{
    text-decoration: none;
    color: #000;
}
.detal-inf:hover{
    color: #fd8300;
}
.zarontin,
.colchicine,
.iruxol,
.cytotec,
.zymafluor,
.nicetile-tab,
.plavix,
.methergin,
.ultraproct-sup,
.ultraproct-ung,
.daivonex-ung,
.advantan-crema,
.crestor,
.vessel,
.neuraben,
.zarontin-capsule,
.frisium,
.depakine-chrono,
.lozid,
.nucleodol,
.liposom-forte,
.tricortin,
.spirali-nova,
.rivotril,
.rivotril-crapli,
.sabril-sashe,
.miotens,
.neurax-biotic,
.adenuric,
.delecit,
.cogiton,
.gonasi,
.xanax,
.gliatilin,
.mogadon,
.lorazepam,
.valium-crapli,
.ozodrop,
.trittico{
    margin-bottom: 20px;
    padding-left: 15px;
    border: 2px solid #9999a6;
}
.zarontin:hover,
.colchicine:hover,
.iruxol:hover,
.cytotec:hover,
.zymafluor:hover,
.nicetile-tab:hover,
.plavix:hover,
.methergin:hover,
.ultraproct-sup:hover,
.ultraproct-ung:hover,
.daivonex-ung:hover,
.advantan-crema:hover,
.crestor:hover,
.vessel:hover,
.neuraben:hover,
.zarontin-capsule:hover,
.frisium:hover,
.depakine-chrono:hover,
.lozid:hover,
.nucleodol:hover,
.liposom-forte:hover,
.tricortin:hover,
.spirali-nova:hover,
.rivotril:hover,
.rivotril-crapli:hover,
.sabril-sashe:hover,
.miotens:hover,
.neurax-biotic:hover,
.adenuric:hover,
.delecit:hover,
.cogiton:hover,
.gonasi:hover,
.xanax:hover,
.gliatilin:hover,
.mogadon:hover,
.lorazepam:hover,
.valium-crapli:hover,
.ozodrop:hover,
.trittico:hover{
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.15));
    border: 2px solid #3e6aff;
}
.zarontin-info,
.colchicine-info,
.iruxol-info,
.cytotec-info,
.zymafluor-info,
.nicetile-tab-info,
.plavix-info,
.methergin-info,
.ultraproct-sup-info,
.ultraproct-ung-info,
.daivonex-ung-info,
.advantan-crema-info,
.crestor-info,
.vessel-info,
.neuraben-info,
.zarontin-capsule-info,
.frisium-info,
.depakine-chrono-info,
.lozid-info,
.nucleodol-info,
.liposom-forte-info,
.tricortin-info,
.spirali-nova-info,
.rivotril-info,
.rivotril-crapli-info,
.sabril-sashe-info,
.miotens-info,
.neurax-biotic-info,
.adenuric-info,
.delecit-info,
.cogiton-info,
.gonasi-info,
.xanax-info,
.gliatilin-info,
.mogadon-info,
.lorazepam-info,
.valium-crapli-info,
.ozodrop-info,
.trittico-info{
    max-width: 755px;
    display: inline-block;
    margin-right: 15px;
}
.zarontin-info,
.zarontin-price,
.colchicine-info,
.colchicine-price,
.iruxol-info,
.iruxol-price,
.cytotec-info,
.cytotec-price,
.zymafluor-info,
.zymafluor-price,
.nicetile-tab-info,
.nicetile-tab-price,
.plavix-info,
.plavix-price,
.methergin-info,
.methergin-price,
.ultraproct-sup-info,
.ultraproct-sup-price,
.ultraproct-ung-info,
.ultraproct-ung-price,
.daivonex-ung-info,
.daivonex-ung-price,
.advantan-crema-info,
.advantan-crema-price,
.crestor-info,
.crestor-price,
.vessel-info,
.vessel-price,
.neuraben-info,
.neuraben-price,
.zarontin-capsule-info,
.zarontin-capsule-price,
.frisium-info,
.frisium-price,
.depakine-chrono-info,
.depakine-chrono-price,
.lozid-info,
.lozid-price,
.nucleodol-info,
.nucleodol-price,
.liposom-forte-info,
.liposom-forte-price,
.tricortin-info,
.tricortin-price,
.spirali-nova-info,
.spirali-nova-price,
.rivotril-info,
.rivotril-price,
.rivotril-crapli-info,
.rivotril-crapli-price,
.sabril-sashe-info,
.sabril-sashe-price,
.miotens-info,
.miotens-price,
.neurax-biotic-info,
.neurax-biotic-price,
.adenuric-info,
.adenuric-price,
.delecit-info,
.delecit-price,
.cogiton-info
.cogiton-price,
.gonasi-info,
.gonasi-price,
.xanax-info,
.xanax-price,
.gliatilin-info,
.gliatilin-price,
.mogadon-info,
.mogadon-price,
.lorazepam-info,
.lorazepam-price,
.valium-crapli-info,
.valium-crapli-price,
.ozodrop-info,
.ozodrop-price,
.trittico-info,
.trittico-price{
    color: black;
}
img{
    max-width: 100%;
}
.zarontin-info p,
.colchicine-info p,
.iruxol-info p,
.cytotec-info p,
.zymafluor-info p,
.nicetile-tab-info p,
.plavix-info p,
.methergin-info p,
.ultraproct-sup-info p,
.ultraproct-ung-info p,
.daivonex-ung-info p,
.advantan-crema-info p,
.crestor-info p,
.vessel-info p,
.neuraben-info p,
.zarontin-capsule-info p,
.frisium-info p,
.depakine-chrono-info p,
.lozid-info p,
.nucleodol-info p,
.liposom-forte-info p,
.tricortin-info p,
.advantan-crema-info p,
.rivotril-info p,
.rivotril-crapli-info p,
.sabril-sashe-info p,
.miotens-info p,
.neurax-biotic-info p,
.adenuric-info p,
.delecit-info p,
.cogiton-info p,
.gonasi-info p,
.xanax-info p,
.gliatilin-info p,
.mogadon-info p,
.lorazepam-info p,
.valium-crapli-info p,
.adenuric-info p,
.trittico-info p{
    margin-top: 0;
}
.zarontin-price,
.colchicine-price,
.iruxol-price,
.cytotec-price,
.zymafluor-price,
.nicetile-tab-price,
.plavix-price,
.methergin-price,
.ultraproct-sup-price,
.ultraproct-ung-price,
.daivonex-ung-price,
.advantan-crema-price,
.crestor-price,
.vessel-price,
.neuraben-price,
.zarontin-capsule-price,
.frisium-price,
.depakine-chrono-price,
.lozid-price,
.nucleodol-price,
.liposom-forte-price,
.tricortin-price,
.spirali-nova-price,
.rivotril-price,
.rivotril-crapli-price,
.sabril-sashe-price,
.miotens-price,
.neurax-biotic-price,
.adenuric-price,
.delecit-price,
.cogiton-price,
.gonasi-price,
.xanax-price,
.gliatilin-price,
.mogadon-price,
.lorazepam-price,
.valium-crapli-price,
.ozodrop-price,
.trittico-price{
    max-width: 250px;
    display: inline-block;
}
.iruxol-info{
    margin-bottom: 20px;
}
.irux{
    padding-top: 10px;
}
.cyt{
    padding-top: 20px;
    max-width: 250px;
    display:  inline-block;
}
.zym,
.pol,
.met{
    max-width: 250px;
    display:  inline-block;
}
footer{
    background-color: #ededf5;
}
.footer-top .column{
    vertical-align: top;
}
.mail p:first-child{
    margin: 0;
    padding-top: 6px;
}
.phone p,
.phone-bottom p{
    margin: 0;
}
.basic-inf:first-child{
    margin-left: 17px;
}
.basic-inf{
    padding: 0;
    list-style: none;
}
.basic-inf a{
    color: #666666;
    font: 14px/1.8em "Arial";   
    text-decoration: none;
}
.basic-inf a:hover{
    color: #0a5bd5;
    text-decoration: underline;
}
.footer-bottom{
    background-color: #dcdce6;
}
 .copyright{
    margin: 0;
    padding: 20px 0 15px;
    color: #9999a6;
    font-family: 13px/1.4em "Arial";
    text-align: center;
}

@media screen and (max-width: 1024px){
    .main-center{
        justify-content: space-around;
    }
}
@media screen and (max-width: 919px){
    
}
@media screen and (max-width: 705px){
    .navigation{
        padding: 15px 15px 0 40px;
    }
    .phone{
        padding: 15px 210px 10px 0;
    }
    .tel::before{
        top: 4px;
    }
}
@media screen and (max-width: 650px){
    .navigation{
        text-align: center;
    }
    .logotipe{
        padding-right: 60px;
    }
}
@media screen and (max-width: 426px){
    .phone{
        padding: 15px 50px 10px 0;
    }
    .tel::before {
        top: 20px;
    }
    .zymafluor{
        font-size: 14px;
    }
    .methergin{
        font-size: 14px;
    }
}
@media screen and (max-width: 321px){
    .zymafluor{
        font-size: 12px;
    }
}