body{
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
sup{
    font-size: 0.55em;
}
h1,
h2{
    margin: 0 10px 30px 60px;
    font-size: 28px;
}
h3{
    display: inline-block;
    font-size: 28px;
}
hr{
    border: 1px solid #e4e4ec;
    border-top: none;
    border-left: none;
    border-right: none;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}
.wrapper-fon{
    position: relative;
    margin: 0 auto;
    max-width: 1150px;
    padding: 0 20px 0 20px;
}
.wrapper{
    padding: 30px 0 30px 0;
    position: relative;
    margin: 0 auto;
    max-width: 1100px;
}
.wrapper-cop{
    margin: 0 auto;
    max-width: 1150px;
}
.row{
    margin: 0 -14px;
    font-size: 0;
    text-align: center;
}
.column{
    display: inline-block;
    margin: 0 14px;
    vertical-align: middle;
    width: 219px;
    font-size: 14px;
    text-align: left;
    box-sizing: border-box;
}
.start{
    padding-left: 20px;
}
.nav{
    display: inline-block;
    position: relative;
}
.logotipe,
.logotipe-bottom{
    max-width: 90px;
    display: inline-block;
}
.logotipe img,
.logotipe-bottom img{
    max-width: 100%;
}
.logo{
    vertical-align: middle;
    margin-right: 70px;
}
.header-top{
    background-color: #ffe0b2;
}
.header-top ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation{
    padding-top: 15px;
    float: left;
}

.navigation li{
    display: inline-block;
    margin-right: 14px;
}
.navigation a{
    text-decoration: none;
    letter-spacing: 2px;
    color: #000;
    font: bold 16px/1.7em "Arial";
}
.navigation a:hover{
    color: #0a5bd5;
}
.phone,
.phone-bottom{
    float: right;
}
.phone{
    padding-top: 38px;
}
.phone li,
.phone-bottom li{
    margin: 0;
}
.phone a,
.phone-bottom a{
    text-decoration: none;
    color: #000;
    font: 16px/1.7em "Arial";
}
.phone a:hover,
.phon:hover,
.phone-bottom:hover,
.phone-bottom a:hover{
    color: #0a5bd5;
}
.center-img{
    padding: 15px 0 25px;
    text-align: center;
}
.phone,
.mail,
.row,
.phone-bottom{
    position: relative;
}
.url,
.viber{
    text-decoration: none;
    color: #000;
}
.tel::before{
    position: absolute;
    left: -28px;
    top: 40px;
    content: url(../img/telefone.png);
}
.tel-bottom::before{
    position: absolute;
    left: -28px;
    top: 2px;
    content: url(../img/telefone.png);
}
.url:hover,
.viber:hover{
    text-decoration: underline;
}
.url::before{
    position: absolute;
    left: -30px;
    top: 1px;
    content: url(../img/url.png);
}
.viber::before{
    position: absolute;
    size: 1px;
    left: -30px;
    bottom: 8px;
    content: url(../img/viber3.png);
}
.foto-zymafluor,
.price-zymafluor{
    max-width: 100%;
    display: inline-block;
    padding-left: 40px;
}
.price-zymafluor{
    padding-right: 20px;
}
.foto{
    max-width: 500px;

}
.price-zymafluor{
    float: right;
}
.phone-price{
    text-decoration: none;
    color: black;
    display: block;
}
.phone-price:hover{
    color: #0a5bd5;
}
.block{
    display: block;
}
.price{
    margin-top: 0;
    padding-right: 10px;
    display: inline-block;
    font-size: 20px;
    color: red;
}
.stock{
    display: inline;
    font-size: 14px;
    color: #309508;
}
.main-info p,
.main-info ul{
    padding-left: 60px;
}
.main-info li{
    padding-bottom: 10px;
}
.first{
    list-style: none;
}
.prod{
    font-size: 20px;
    display: block;
    padding-left: 60px;
}
.prod b{
    position: relative;
}
.prod b::before{
    position: absolute;
    content: url(../img/germany.png);
    bottom: -7px;
    right: -28px;
}
footer{
    background-color: #ededf5;
}
.top{
    margin-top: 40px;
}
.logotipe-bottom{
    margin-right: 35px;
}
.footer-top .column{
    vertical-align: top;
}
.mail p:first-child{
    margin: 0;
    padding-top: 6px;
}
.phone p,
.phone-bottom p{
    margin: 0;
}
.basic-inf:first-child{
    margin-left: 17px;
}
.basic-inf{
    padding: 0;
    list-style: none;
}
.basic-inf a{
    color: #666666;
    font: 14px/1.8em "Arial";   
    text-decoration: none;
}
.basic-inf a:hover{
    color: #0a5bd5;
    text-decoration: underline;
}
.footer-bottom{
    background-color: #dcdce6;
}
 .copyright{
    margin: 0;
    padding: 20px 0 15px;
    color: #9999a6;
    font-family: 13px/1.4em "Arial";
    text-align: center;
}

@media screen and (max-width: 1024px){
    .main-center{
        justify-content: space-around;
    }
}
@media screen and (max-width: 769px){
    .price-zymafluor{
        float: none;
    }
}
@media screen and (max-width: 705px){
    .navigation{
        padding: 15px 15px 0 75px;
    }
    .phone{
        padding: 15px 210px 10px 0;
    }
    .tel::before{
        top: 4px;
    }
}
@media screen and (max-width: 650px){
    .navigation{
        text-align: center;
    }
    .logotipe{
        padding-right: 60px;
    }
}
@media screen and (max-width: 426px){
    .phone{
        padding: 15px 95px 10px 0;
    }
    .column{
        margin: 15px 14px 0 141px;
    }
    .tel::before {
        top: 20px;
    }
    .foto{
        max-width: 260px;
    }
    h1,
    h2{
        font-size: 28px;
    }
}
@media screen and (max-width: 376px){
    .column{
        margin: 15px 14px 0 62px;
    }
}
@media screen and (max-width: 321px){
    .column{
        margin: 15px 14px 0 10px;
    }
    .stock{
        display: inline-block;
    }
}